#banner{
    width:100%;
    padding:40px0;
    background-color:#f5f3f0;
   
}
.text-banner h1{
    margin:0 0 20px;
    font-size:48px;
    color:#222;
}

.text-banner h5{
    margin:0 0 10px;
    color:#555;
    font-weight:normal;
}
.container{
    max-width:1024px;
    margin:0auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}
.container img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}
.botao{
    font-weight:bold;
    padding: 12px 24px;
    color:#fff;
    background-color:aqua;
    text-decoration: none;
    border-radius:5px;
    transition:0.3s;
}
.botao:hover{
    background-color:#005f87
}
.footer{
    width: 1440px;
    height: 547px;
    margin-top: 247px;
    background-color:#9E8C6C;
    
}

.text-footer{
    width: 793px;
    height: 258.82px;
    margin-top: 2653px;
    text-align: center;

}
/*TUDO QUE FOR MENOR QUE 768PX */
@media screen and (max-width: 768px){

    .container{
        flex-direction: column;
        text-align:center;
    }
    .container img{
        width:180px;
        height:180px;
        margin-bottom:20px;
    }

    .text-banner h1{
        font-size:32px;
    }
    .botao{
        font-size:16px;
        padding:10px20px;
    }
}
        

       
